@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Geomini:200,300,regular,500,600,700,800);

@import url("fonts.css");
@import url("reset.css");

body {
    /* font-family: "Manrope", sans-serif; */
    /* font-family: "Geomini", cursive; */
    font-family: "Gilroy";
    font-weight: 500;
    font-style: italic;
}
.title {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 700;
    color: rgba(67, 24, 185, 0.938);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 4);
    text-decoration-style: double;
    text-shadow: 3px 3px rgb(154, 205, 50), -3px -3px rgb(255, 0, 4);
    text-transform: uppercase;
    line-height: 200%;
    letter-spacing: 10px;
}
p {
    line-height: 25px;
    letter-spacing: 3px;
    word-spacing: 2px;
    white-space: normal;
}
h2 {
    font-family: "Gilroy", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    color: rgb(221, 0, 255);
    text-align: center;
    text-decoration: overline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(0, 255, 255);
    text-shadow: 3px 3px #ffd700;
    text-transform: uppercase;
    line-height: 2.0;
    letter-spacing: 3px;
}
#some-id {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
    color: rgba(0, 0, 255, 0.658);
    text-align: justify;
    text-transform: capitalize;
    line-height: 1.1;
    letter-spacing: 1px;
    word-spacing: 1px;
    white-space: normal;
}
[class*="te"] {
    font-family: "Manrope", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    color: #ff0000;
    line-height: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    white-space: normal;

}
.text, 
li {
    color: green;
    text-shadow: -2px -3px rgb(165, 42, 42);
    text-decoration: line-through;
    text-decoration-color: #ffd700;
    text-decoration-style: dotted;
}
div.text {
    text-transform: lowercase;
}
.article h1 {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-style: oblique;
    font-weight: 700;
    color: rgba(220, 10, 35, 0.938);
    text-align: center;
    text-transform: uppercase;
    line-height: 200%;
    letter-spacing: 10px;
}
.article a {
    font-family: "Archivo", fantasy;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: rgb(12, 218, 60);
    text-shadow: 1px 1px rgb(0, 128, 0);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #ff0000;
}
.text.red {
    color: #5d00ff;
    text-decoration: none;
    text-shadow: none;
}
.list .item {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 3px;
    
}
.ol-list * {
    font-weight: 600;
    color: rgb(39, 185, 46);
    text-decoration: none;
    text-shadow: none;
    line-height: 40px;
    letter-spacing: 2px;
}
.ol-list .item a {
    color: red;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #5d00ff;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(218, 218, 14);
}
.article > p > span {
    color: #ff0000;
    text-decoration: overline;
}
.text + p {
    font-size: 20px;
    font-style: oblique;
    font-weight: 500;
    color: rgba(0, 0, 255, 0.658);
    text-align: justify;
    text-transform: lowercase;
    line-height: 1.1;
    letter-spacing: 1px;
    word-spacing: 1px;
    white-space: normal;
}
.text + p > a {
    color: #ff0000;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: rgb(186, 7, 103);
}
   
.block ~ ul li {
    color: #d51e1e;
    font-weight: 600;
    text-decoration: none;
    text-shadow: none;
    line-height: 40px;
    letter-spacing: 2px;
}