@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800");

@import url("fonts.css");
@import url("reset.css");


.about {
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    overflow: hidden;
}

.container {
    max-width: 1597px;
    margin-inline: auto;
    
}

.about__header {
    padding-inline-end: 300px;
    margin-block-end: 80px;
}

.about__title {
    margin-bottom: 14px;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.about__text {
    color: #999;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.about__row {
    margin-inline: -15px;
    font-size: 0;
    
}   

.about__colmn {
    display: inline-block;
    width: 33.333%;
    padding-inline: 15px;    
    margin-bottom: 30px;
    
}

.item-about {
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 12px;
    background: linear-gradient(222deg,
            rgba(229, 0, 0, 0.50) -208.03%,
            rgba(229, 0, 0, 0.00) 41.32%),
            #0F0F0F;
}

.item-about__header {
    padding-block: 18px;
    margin-bottom: 30px;
}
.item-about__icon {
    display: inline-block;
    padding: 16px;
    border: 1px solid #1F1F1F;
    border-radius: 12px;
    background-color: #141414;
    vertical-align: middle;
    margin-right: 16px;
    
}

.item-about__title {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    min-height: 36px;
    vertical-align: middle;
    
}

.item-about__text {
    color: #999;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}